{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h2>Ajouter un film à votre cinémathèque</h2>
    <div class="alert alert-dark" role="alert">
    Pensez à ajouter les personnes du film avant d'ajouter le film. <a href="{{ url("character_create") }}">Accédez au formulaire en cliquant ici</a>
    </div>
    {{ form(form) }}
</div>

{% endblock %}
